{% extends 'component/base.html' %}


{% load crispy_forms_tags %}
{% block content %}

<section>
    <div class="row my-5">
        <div class="col-md-6 offset-md-3">
            <div class="p-4 bg-light">
                <h3>Create Room</h3>
                <hr class="my-4">
                <form method="POST">{% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary mt-3">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}